<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu #menu contentId="main">
      <ion-content>
        <ion-item>
          <ion-avatar slot="start">
            <img alt='avatar' [src]="authService.getProfilePic()">
          </ion-avatar>
          <ion-label>
            <ion-list-header>{{authService.getDisplayName()}}</ion-list-header>
            <ion-note *ngIf="authService.getEmail()"
                      class="ion-margin-start">{{authService.getEmail()}}</ion-note>
          </ion-label>
        </ion-item>

        <ion-list *ngIf="authService.isLoggedIn()" lines="none">
          <ion-item (click)="menu.close()">
            <div (click)="authService.signOut()">Logout</div>
          </ion-item>
        </ion-list>
        <ion-label>Channels</ion-label>
          <ion-list *ngFor="let c of channels">
            <ion-item (click)="router.navigate(['channel',c.name],{relativeTo: activatedRoute})">{{c.name}}</ion-item>
          </ion-list>
        <ion-label>Options</ion-label>
        <ion-list>
          <ion-label>New channel</ion-label>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


